@{
    ViewData["Title"] = "Home Page";
}

<div class="card mb-3">
    <img src="https://nypem.net/wp-content/uploads/2019/07/books-header-1.jpg" class="card-img-top" alt="books">
    <div class="card-body">
        <h5 class="card-title">Merhaba!</h5>
        <p class="card-text">Kitap kulübümüze hoşgeldin</p>
    </div>
</div>