@model Poll
@{
    ViewData["Title"] = "DownloadList";
}

<h1>@Model.Title Anketi</h1>


<div class="alert alert-info" role="alert">
    <strong>Tebrikler! </strong> Listeniz indirildi. <a asp-action="Index" class="alert-link"> Anket listesine dönmek için tıkla </a>
</div>

