@model pollSystemTurkcell.Models.Question

@{
    ViewData["Title"] = "Create";
}

<h1>Yeni Soru Ekle</h1>

<h4>Soru</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><strong>Anket İsmi</strong> </label>
                <p>
                <span class="badge bg-info text-dark">@ViewBag.PollName</span>
                </p>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.PollID" value="@ViewBag.PollID" />
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Polls" asp-route-pollID="@ViewBag.PollID">Anket Detaylarına Dön</a>
</div>

